<launch>
  <param name="/robshift/robot_description" command="cat $(find project_model)/urdf/RobShift.urdf" />
  
  <rosparam command="load" file="$(find project_model)/config/RobShift_controller.yaml" />
  
  <node
    pkg="tf2_ros"
    type="static_transform_publisher"
    name="static_transform_publisher_robshift_to_world"
    args="0 0 0 0 0 0 world robshift/world" />

  <node
    name="spawn_robshift"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param /robshift/robot_description -urdf -model rob_shift"
    output="screen"/>
  
  <node
    name="controller_spawner_robshift"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    args="--namespace=/robshift Joint1_position_controller Joint2_position_controller Joint3_position_controller Joint4_position_controller Joint_Vakuumgreifer_position_controller joint_state_controller" />
</launch>
