<launch>

  <param name="/europalette/robot_description" command="cat $(find environment)/urdf/Europalette.urdf" />

  <node
    name="spawn_europalette"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param /europalette/robot_description -urdf -model europalette -x -2.0 -y -2.0 -z 1.0 -R 0 -P 0 -Y 1.5709"
    output="screen"/>

</launch>
