<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
  </include>

  <include file="$(find project_assem)/launch/rob_Assem.launch" ns="/robAssemble" />

  <include file="$(find project_model)/launch/rob_Shift.launch" ns="/robshift" />
</launch>
