<launch>

  <param name="/robAssemble/robot_description" command="cat $(find project_assem)/urdf/RobAssemble.urdf" />
  
  <rosparam command="load" file="$(find project_assem)/config/RobAssemble_controller.yaml" />
  
  <node
    pkg="tf2_ros"
    type="static_transform_publisher"
    name="static_transform_publisher_robAssemble_to_world"
    args="0 0 0 0 0 0 world robAssemble/world" />

  <node
    name="spawn_robAssemble"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param /robAssemble/robot_description -urdf -model rob_assemble"
    output="screen"/>
  
  <node name="controller_spawner_robAssem" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="--namespace=/robAssemble Joint1_position_controller Joint2_position_controller Joint3_position_controller Joint4_position_controller joint_state_controller" />
</launch>
