<launch>
  <arg name="use_sim_time" default="true" />

  <param name="/robAssemble/robot_description" command="cat $(find project_assem)/urdf/RobAssemble.urdf" />
  <param name="/robshift/robot_description" command="cat $(find project_model)/urdf/RobShift.urdf" />
  <param name="/europalette/robot_description" command="cat $(find environment)/urdf/Europalette.urdf" /> <!-- Only in RViz -->
  <param name="/conveyor/robot_description" command="cat $(find environment)/urdf/conveyor.urdf" /> <!-- Only in RViz -->

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find project_assem)/urdf/combined_config.rviz"
    output="screen" />

  <node
    ns="robAssemble"
    name="robAssemble_robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="robAssemble" />
  </node>

  <node
    ns="robshift"
    name="robshift_robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="robshift" />
  </node>

  <node
    ns="europalette"
    name="europalette_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="europalette" />
  </node>

  <node
    ns="conveyor"
    name="conveyor_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="conveyor" />
  </node>


  <node name="move_europalette" pkg="environment" type="move_europalette.py" output="screen" />

</launch>
